# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>



RewriteEngine On
# if not localhost
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
# deny access to these
RewriteRule ^(LICENSE|README.md|)$ - [L,F]