body {
	background-color: #111;
}

@font-face {
    font-family: 'RobotoLight';
    src: 
    url('roboto-light/roboto-light.ttf') format('ttf'),
    url('roboto-light/roboto-light.woff2') format('woff2'),
         url('roboto-light/roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.roboto {
	font-family: 'RobotoLight';
	color: #EEE;
	font-weight: 15;
}
